{% extends "base.html" %}
{% block content %}
<h1 class="h3">Сброс пароля{% if target %}: {{ target.username }}{% endif %}</h1>
{% if target %}
<form method="post" class="row g-3" data-confirm-code="RESET">
  <div class="col-md-6"><label class="form-label">Новый пароль</label><input class="form-control" name="new_password" type="password" minlength="10" required></div>
  <div class="col-md-6"><label class="form-label">Подтвердить пароль</label><input class="form-control" name="confirm_password" type="password" minlength="10" required></div>
  <div class="col-12"><div class="form-check"><input class="form-check-input" type="checkbox" name="revoke_sessions" value="1" id="revoke_sessions" checked><label class="form-check-label" for="revoke_sessions">Отозвать активные сессии</label></div></div>
  <div class="col-12"><button class="btn btn-warning">Сбросить пароль</button> <a class="btn btn-outline-secondary" href="/admin/admin-users/{{ target.id }}">Назад</a></div>
</form>
{% endif %}
{% endblock %}
